In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
file1 = pd.read_csv("/Users/samkatterfield/Documents/IronHack/lab-work/march-23-customer-analysis/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv")

In [4]:
file2 = pd.read_csv("/Users/samkatterfield/Documents/IronHack/lab-work/march-23-customer-analysis/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv")

In [5]:
file3 = pd.read_csv("/Users/samkatterfield/Documents/IronHack/lab-work/march-23-customer-analysis/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv")

In [36]:
file1.shape

(4008, 11)

In [37]:
file2.shape

(996, 11)

In [38]:
file3.shape

(7070, 11)

In [79]:
file1.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [68]:
file1 = file1.rename(columns={'GENDER' : 'Gender'})

In [78]:
file1 = file1.rename(columns={'ST' : 'State'})

In [53]:
file1 = file1[['Customer', 'State','GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [77]:
file2.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [76]:
file2 = file2.rename(columns={'ST' : 'State'})

In [70]:
file2 = file2.rename(columns={'GENDER' : 'Gender'})

In [55]:
file2 = file2[['Customer', 'State','GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [75]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [57]:
file3 = file3[['Customer', 'State','Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [71]:
file3 = file3.rename(columns={'GENDER' : 'Gender'})

In [45]:
for col in file1.columns:
    print(col)

Customer
ST
GENDER
Education
Customer Lifetime Value
Income
Monthly Premium Auto
Number of Open Complaints
Policy Type
Vehicle Class
Total Claim Amount

In [80]:
column_names=file1.columns

In [81]:
analysis=pd.DataFrame(columns=column_names)

In [82]:
analysis=pd.concat([analysis,file1],axis=0)

In [83]:
analysis.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [84]:
analysis=pd.concat([analysis,file2],axis=0)

In [85]:
analysis=pd.concat([analysis,file3],axis=0)

In [86]:
analysis.shape

(12074, 11)

In [87]:
analysis.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [88]:
analysis.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [99]:
analysis.dtypes

Customer                    object
State                       object
Gender                      object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto       float64
Policy Type                 object
Vehicle Class               object
Total Claim Amount         float64
dtype: object

In [90]:
analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Gender                     9015 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [91]:
analysis = analysis.drop(['Education'],axis=1)

In [92]:
analysis = analysis.drop(['Number of Open Complaints'],axis=1)

In [98]:
analysis.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [96]:
analysis["Customer Lifetime Value"] = pd.convert_dtypes(analysis["Customer Lifetime Value"])

AttributeError: module 'pandas' has no attribute 'convert_dtypes'

In [109]:
analysis["Customer Lifetime Value"] = pd.to_numeric(analysis['Customer Lifetime Value'], errors='coerce')

In [110]:
analysis.tail()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
7065,LA72316,California,M,2.340599e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3.096511e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8.163890e+05,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7.524442e+05,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2.611837e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [105]:
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [102]:
analysis["Customer Lifetime Value"] = analysis['Customer Lifetime Value'] * 100

In [103]:
analysis.tail()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
7065,LA72316,California,M,2.340599e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3.096511e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8.163890e+05,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7.524442e+05,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2.611837e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [104]:
analysis["Customer Lifetime Value"].dtype

dtype('float64')

In [112]:
duplicateRowsDF = analysis[analysis.duplicated(['Customer'])]
print(duplicateRowsDF)

     Customer       State Gender  Customer Lifetime Value   Income  \
1072      NaN         NaN    NaN                      NaN      NaN
1073      NaN         NaN    NaN                      NaN      NaN
1074      NaN         NaN    NaN                      NaN      NaN
1075      NaN         NaN    NaN                      NaN      NaN
1076      NaN         NaN    NaN                      NaN      NaN
...       ...         ...    ...                      ...      ...
1736  FX36546  Washington      M             3.679142e+05  60804.0
1806  WQ89892  Washington      F             2.607816e+05      0.0
1870  GA49547  Washington      M             5.363077e+05  36357.0
1883  PQ27923  Washington      M             6.333031e+05  71737.0
1924  OW15518  Washington      F             1.595002e+06      0.0

      Monthly Premium Auto    Policy Type  Vehicle Class  Total Claim Amount
1072                   NaN            NaN            NaN                 NaN
1073                   NaN            NaN            NaN                 NaN
1074                   NaN            NaN            NaN                 NaN
1075                   NaN            NaN            NaN                 NaN
1076                   NaN            NaN            NaN                 NaN
...                    ...            ...            ...                 ...
1736                  92.0  Personal Auto  Four-Door Car          213.225001
1806                  70.0   Special Auto   Two-Door Car          336.000000
1870                  68.0  Personal Auto  Four-Door Car           17.269323
1883                  79.0  Personal Auto   Two-Door Car          338.795620
1924                  87.0  Personal Auto   Two-Door Car           46.041452

[3017 rows x 9 columns]